*{
    margin: 0;
    padding: 0;
    font-family: roboto;
}

.navbar-brand{
    display: flex;
    align-items: center;
}

.brand-text{
    margin-left: 20px;

}
.brand-text h1{
    
    font-weight: 700;
    font-size: 34.5px;
}

.brand-text p {
    margin-top: -10px;
    font-size: 15px;
}

.nav-item{
    font-size: 17pt;
    font-weight: 400;
    margin-right: 10px;
    padding-right: 10px;
    padding-left: 10px;

}

.hamburger{
    color: #00a13a;
}

.upperline{
    background-color:#00a13a;
    height: 12px;
}

.box_slider{
    background-image: url(../Image/Layer_1png.png);
    
    height: 867px;
    background-color: black;
}

.slider-text{
    text-align: center;
    padding-top: 600px;
}

.slider-text h1{
    font-size: 55px;
    color: white;
    font-style: italic;
    font-weight: bold;
}

.slider-text h2{
    font-size: 35px;
    color: #dcb861;
    font-style: italic;
    font-weight: bold;
}

.slider-text p{
    font-size: 15px;
    color: white;

}

.section1_home{
    height: 1093px;
    background-color: #fff;
}

.prelatife-container{
    text-align: center;
}

.superior{
    position: center;
    padding-top: 49px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.gbr{
    height: 248px;
    display: flex;
    
    font-size: 0;
}

.text-gbr{
    font-family: roboto;
    color: black;
    text-align: left;

    width: 249px;
}

.title{
    text-align: left;
    position: top;
    justify-content: top;
    align-items: top;    
    font-size: 26px;
}

.sub{
    text-align: left;
    font-size:16px;
    width: 230px;
}

.bold-title{
    font-size: 50px;
}

.bold-subtitle{
    font-size:17px;
}

.section2_home{
    height: 845px;
    background-image: url(../Image/Layer-2.png);
    background-position: center;
    background-color:black;
    color: #fff;
    font-family: roboto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec2-title{
    font-weight:lighter; 
    font-size: 51px;
}

.sec2-subtitle{
    font-size: 22px;
    font-weight:bold;
    padding-top: 17px;
}

.sec2-pharap{
    font-size: 18px;
    
}

.section3_home{
    height: 1442px;
    background-color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bold-title{
    font-size: 50px;
}

.bold-subtitle{
    font-size:17px;
}

.sec3-part{
    text-align: left;
    padding-top: 70px;
    
}
.sub-part{
    width: 479px;
    padding-top: 52px;
}

.row-part{
    display: flex;
    
}

.heading-sub{
    font-size: 25px;
    font-weight: lighter;

}
.pharap-sub{
    font-size: 16px;
    font-weight: lighter;
}

.top_footer{
    height: 204px;
    background-color:#00a13a ;
    color: #fff;
}

.mid_footer{
    height: 105px;
    background-color: #ebc566;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1;
    padding: 18px 50px;
    padding-left: 500px;
    display: flex;
}

.btm_footer{
    height: 81px;
    background-color: #fff;
    color: black;
    width: 100%;
    z-index: 1;
    align-items: center;
    padding: 18px 50px;
    padding-left: 500px;
    justify-content: space-between;
    display: flex;
}

.btm-footer-text{
    font-family: roboto;
    font-size: 16px;
    font-weight: lighter;
}

.top_footer{
    padding-left: 450px;
}




